@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/typography" as *;

.footer--grid {
  @include flex-center(space-between, center);
  @include gradient-bg($gradient-color-1, $gradient-color-2, 180deg);
  color: $text-color;
  padding: 40px 120px;
}

.footer--contenedor p {
  margin: 0;
}

.footer--contenedor img {
  margin: 0;
  max-width: 24px;
  max-height: 30px;
}

.align-icons {
  @include flex-center;
  gap: 10px;

  .footer--contenedor {
    @include flex-center;
  }
}
