@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/typography" as *;

.header--grid {
  @include flex-center(space-around, center);
  @include gradient-bg($gradient-color-1, $gradient-color-2, 0deg);
  padding: 20px 40px;
}

.header--contenedor {
  @include flex-center(flex-end, center);
}

.logo {
  max-width: 60%;
  max-height: 60%;
}

.icon {
  color: $text-color;
  font-size: 24px;
  padding: 10px;
}
