@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/typography" as *;

.solutions{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
}

.solution-content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
  min-height: 300px;
}

.solution-image{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
}

.solution-text{
  flex: 1;
  text-align: left;
  color: $text-color;
  padding: 0 20px;
}