@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/typography" as *;

.boton-peque {
  @include boton-peque(10px 25px, 1em, $text-color);
}

.icon {
  color: $text-color;
  font-size: 20px;
  padding: 10px;
}
