@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/typography" as *;

.peliculas-trending{
  color: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.peliculas-display{
  display: grid;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 15px 10px;
}